*, body {
    background: powderblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.navbar {
    background: white;
    width: 100%;
    height: 10vh;
    border: 8px solid red;
    margin: 5px;
}